@using JobFinder.Areas.Company.Models;
@using System.Data;
@using System.Collections;

@model JobFinder.Areas.Company.Models.CompanyModel;

<div class="content-wrapper">
    <div class="container-fluid">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title" style="color: #4B49AC" ;>Company Form</div>
                    <hr>
                    <form method="post" asp-area="Company" asp-controller="Company" asp-action="SaveForAddEdit" enctype="multipart/form-data">
                        <div asp-validation-for="All" class="text-danger"></div>
                        <input type="hidden" asp-for="CompanyID" />
                        <div class="form-group">
                            <label>Company Name</label>
                            <input type="text" class="form-control form-control-rounded" placeholder="CompanyName" asp-for="CompanyName" required="required">
                            <span asp-validation-for="CompanyName" class="text-danger"></span>
                        </div>
                        @* <div class="form-group">
                            <label>CityName</label>
                            <input type="text" class="form-control form-control-rounded" placeholder="CityName" asp-for="CityName" required="required">
                            <span asp-validation-for="CityName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>EmploymentType</label>
                            <input type="text" class="form-control form-control-rounded" placeholder="" asp-for="EmploymentType" required="required">
                            <span asp-validation-for="EmploymentType" class="text-danger"></span>
                        </div> *@
                        <div class="form-group">
                            <label>City Name</label>
                            <select class="form-control" asp-for="CityID" asp-items="@(new SelectList(ViewBag.SetCityDropDownList,"CityID","CityName"))" required="required" style="color:black">
                                <option value="">Select City</option>
                            </select>

                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" class="form-control form-control-rounded" placeholder="Description" asp-for="Description" required="required">
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>


                        <div class="form-group">
                            <label for="ImageUrl">Image</label>
                            <input type="file" class="form-control form-control-rounded" id="ImageUrl" placeholder="Choose Image" asp-for="ImageFile" required="required">
                        </div>
                        <div class="form-group">
                           
                            <img id="imagePreview"  alt="Image Preview" style="max-width: 200px; max-height: 200px;">
                        </div>

                        <script>
                            function previewImage(input) {
                                var reader = new FileReader();
                                reader.onload = function (e) {
                                    document.getElementById('imagePreview').setAttribute('src', e.target.result);
                                };
                                reader.readAsDataURL(input.files[0]);
                            }

                            document.getElementById('ImageUrl').addEventListener('change', function () {
                                previewImage(this);
                            });
                        </script>
                        
                        <div class="form-group">
                            <label for="input-7">Contact Email</label>
                            <input type="text" class="form-control form-control-rounded" placeholder="ContactEmail" asp-for="ContactEmail" required="required">
                            <span asp-validation-for="ContactEmail" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Size</label>
                            <input class="form-control form-control-rounded" placeholder="Size" asp-for="Size" required="required">
                            <span asp-validation-for="Size" class="text-danger"></span>
                        </div>
                       
                       @*  <div class="form-group">
                            <label>JobID</label>
                            <input class="form-control form-control-rounded" placeholder="JobID" asp-for="JobID" required="required">

                        </div> *@
                        <div class="form-group">
                            <label for="input-8">Contact Phone</label>
                            <input type="text" class="form-control form-control-rounded" placeholder="ContactPhone" asp-for="ContactPhone" required="required">
                            <span asp-validation-for="ContactPhone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" class=" btn btn-outline-primary"></input>
                            <a class="btn btn-outline-secondary" asp-area="Company" asp-controller="Company" asp-action="CompanyList">Back</a>
                           
                        </div>
                    </form>
                       
                   
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
</script>


